<div class="panel panel-default">
    <div class="panel-heading">
        @Messages("Создать новый договор")
    <div class="pull-right">
        <a ui-sref="employees.detail.contract.list"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    </div>
    <div class="panel-body">
        <form ng-submit="saveContract()" class="form-horizontal">
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="position" class="col-sm-4 control-label">Должность</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="text" name="position" readonly ng-model="temp.position"/>
                    </div>
                    <div class="col-sm-1  add-control">
                        <a class="btn btn-xs btn-primary" ng-click="open()"
                        data-toggle="tooltip" data-placement="top" title="Нажмите чтобы выберить должность ...">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="contract_type" class="col-sm-4 control-label">Вид договора</label>
                    <div class="col-sm-8">
                        <select required class="form-control" name="contract_type" ng-model="newContractForm.contract_type"
                        ng-options="contract_type.id as contract_type.name for contract_type in contract_types"></select>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="open_date" class="col-sm-4 control-label">Дата начала</label>
                    <div class="col-sm-8">
                        <input required class="form-control" type="date" name="open_date" ng-model="newContractForm.open_date"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="end_date" class="col-sm-4 control-label">Дата окончания</label>
                    <div class="col-sm-8">
                        <input required class="form-control" type="date" name="end_date" ng-model="newContractForm.end_date"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="trial_period_open" class="col-sm-4 control-label">Начало испытательного срока</label>
                    <div class="col-sm-8">
                        <input required class="form-control" type="date" name="trial_period_open" ng-model="newContractForm.trial_period_open"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="trial_period_end" class="col-sm-4 control-label">Конец испытательного срока</label>
                    <div class="col-sm-8">
                        <input required class="form-control" type="date" name="trial_period_end" ng-model="newContractForm.trial_period_end"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="salary" class="col-sm-4 control-label">Оклад</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input required class="form-control" type="number" name="salary" ng-model="newContractForm.salary" />
                            <span class="input-group-addon">сом.</span>
                        </div>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="working_time_type" class="col-sm-4 control-label">Время работы</label>
                    <div class="col-sm-8">
                        <select required class="form-control" name="working_time_type" ng-model="newContractForm.working_time_type"
                        ng-options="working_time.id as working_time.name for working_time in working_time_types"></select>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="newContractForm.status" > <strong>Статус</strong>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right" value='@Messages("Сохранить")'></p>
        </form>
    </div>
</div>

<div>
    <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
    <h4 class="modal-title"> @Messages("Выберите должность") </h4>
    </div>
    <div class="modal-body">
    <treecontrol class="tree-classic"
    tree-model="dataTheTree"
    options="treeOptions"
    on-selection="selectNode(node)"
    >
    {{node.name}}
    </treecontrol>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Выбрать</button>
    <button class="btn btn-warning" ng-click="cancel()">Отменить</button>
    </div>
    </script>
</div>
