<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref="institutions.create" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                Учебные заведения
            </div>
            <table class="table table-bordered table-condensed" ng-table="contractTypeTableParams">
                <tr ng-repeat="institution in institutions">
                    <td data-title="'Краткое название'">{{ institution.shortname }}</td>
                    <td data-title="'Полное название'">{{ institution.longname }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
