
    <div class="panel panel-default">
        <div class="panel-heading">
            @Messages("Новый сотрудник")
            <div class="pull-right">
                <a ui-sref="employeeList"><span class="glyphicon glyphicon-list"></span></a>
            </div>
        </div>
        <div class="panel-body">
        <form target="@routes.Employees.save()" method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" name="surname" ng-model="newEmployee.surname"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input type="text" name="firstname" ng-model="newEmployee.firstname"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input type="text" name="lastname" ng-model="newEmployee.lastname"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="birthday">Birthday</label>
                    <input type="date" name="birthday" ng-model="newEmployee.birthday"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="citizenship">Citizenship</label>
                    <input type="text" name="citizenship" ng-model="newEmployee.citizenship"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="insurance_number">Insurance number</label>
                    <input type="text" name="insurance_number" ng-model="newEmployee.insurance_number"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="tax_number">Tax number</label>
                    <input type="text" name="tax_number" ng-model="newEmployee.tax_number"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="home_phone">Home phone</label>
                    <input type="text" name="home_phone" ng-model="newEmployee.home_phone"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="mobile_phone">Mobile phone</label>
                    <input type="text" name="mobile_phone" ng-model="newEmployee.mobile_phone"/>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" ng-model="newEmployee.email"/>
                    <span class="help-inline"></span>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right"
            value='@Messages("Сохранить")'></p>
        </div>
    </div>
