@(employeeForm: Form[Employee])(implicit lang: Lang, request: RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("employee.form")) {
    <div class="panel panel-default">
        <div class="panel-heading">
            @Messages("Новый сотрудник")
            <div class="pull-right">
                <a href="@routes.Employees.index()"><span class="glyphicon glyphicon-list"></span></a>
            </div>
        </div>
        <div class="panel-body">
        @helper.form(action = routes.Employees.save()) {
            <fieldset>
                <div class="row">
                    <div class="col-sm-4">@inputText(employeeForm("surname"), 'class->"form-control  input-sm")</div>
                    <div class="col-sm-4">@inputText(employeeForm("firstname"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(employeeForm("lastname"), 'class->"form-control input-sm")</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">@helper.inputDate(employeeForm("birthday"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(employeeForm("citizenship"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(employeeForm("insurance_number"), 'class->"form-control input-sm", 'type->"number")</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">@helper.inputText(employeeForm("tax_number"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(employeeForm("home_phone"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(employeeForm("mobile_phone"), 'class->"form-control input-sm")</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">@helper.inputText(employeeForm("email"), 'class->"form-control input-sm", 'type->"email", 'required->"required")</div>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right"
            value='@Messages("Сохранить")'></p>
        }
        </div>
    </div>
}