<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label><h4>Список сотрудников</h4></label>
                <div class="pull-right">
                    <button type="button" ng-click="showSearch()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> Поиск
                    </button>
                    <button type="button" ng-click="$state.go('panel.employees.create')" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span> Добавить новую анкету
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" ng-show="search">
                <div class="col-sm-2">
                    <input ng-model="surname" type="text" placeholder="Фамилия ..." autofocus class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input ng-model="firstname" type="text" placeholder="Имя ..." autofocus class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input ng-model="lastname" type="text" placeholder="Отчество ..." autofocus class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input string-to-timestamp ng-model="birthday" type="date" placeholder="Дата рождения ..." autofocus class="form-control" />
                </div>
                <div class="col-sm-2">
                    <input ng-model="searchedStructureId" ng-change="preSearchByOfficeId()" type="number" placeholder="Структура ..." autofocus class="form-control" />
                </div>
                <hr />
            </div>
            <table class="table table-condensed">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Год рождения</th>
                </tr>
                <tr ng-repeat='employee in employees | filter: {surname: surname, firstname: firstname, lastname: lastname, birthday: birthday } | filter:searchByOfficeId'>
                    <td><a ui-sref='panel.employees.detail({employeeId: employee.id})'>{{ employee.surname }}</a></td>
                    <td><a ui-sref='panel.employees.detail({employeeId: employee.id})'>{{ employee.firstname }}</a></td>
                    <td><a ui-sref='panel.employees.detail({employeeId: employee.id})'>{{ employee.lastname }}</a></td>
                    <td><a ui-sref='panel.employees.detail({employeeId: employee.id})'>{{ employee.birthday | date: 'dd.MM.yyyy' }}</a></td>
                    <td><a ui-sref='panel.employees.detail({employeeId: employee.id})'>{{ employee.email }}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
