

<div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref="employeeCreate" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
        <strong>Список сотрудников</strong>
    </div>
    <table class="table table-bordered table-condensed">
        <tr ng-repeat="employee in employees">
            <td>{{ employee.surname }}</td>
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.birthday.date }}</td>
            <td>{{ employee.email }}</td>
            <td>
                <a  href="#" ng-click="edit(employee.id)">edit</a> |
                <a href="#" ng-click="delete(employee.id)">delete</a>
            </td>
        </tr>
    </table>
</div>
