@(employees: Iterable[Employee])

@main("Список пользователей") {
    <div class="panel panel-default">
            <!-- Default panel contents -->
        <div class="panel-heading">
            Список сотрудников
            <div class="pull-right">
                <a href="@routes.Employees.newEmployee()"><span class="glyphicon glyphicon-plus"></span></a>
            </div>
        </div>
        <table class="table table-bordered table-condensed">
        @for(employee <- employees){
            <tr>
                <td>@employee.id</td>
                <td>@employee.surname</td>
                <td>@employee.firstname</td>
                <td>@employee.lastname</td>
                <td>@employee.birthday</td>
                <td>@employee.citizenship</td>
                <td>@employee.insurance_number</td>
                <td>@employee.tax_number</td>
                <td>@employee.home_phone</td>
                <td>@employee.mobile_phone</td>
                <td>@employee.email</td>
                @*<td>*@
                    @*<a href="@routes.Products.edit(product.id)"><span class="glyphicon glyphicon-edit"></span></a>*@
                    @*<a href="@routes.Products.show(product.id)"><span class="glyphicon glyphicon-eye-open"></span></a>*@
                @*</td>*@
            </tr>
        }
        </table>
    </div>
}