<div class="panel panel-default">
    <div class="panel-heading">
        @Messages("Создать новый учебу")
    <div class="pull-right">
        <a ui-sref='panel.employees.detail.educations.list"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    </div>
    <div class="panel-body">
        <form ng-submit="saveEducation()" class="form-horizontal">
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="institution" class="col-sm-2 control-label">Учебное заведение</label>
                    <div class="col-sm-10">
                        <select required class="form-control" name="institution" ng-model="newEducationForm.institution"
                        ng-options="institution.longname for institution in institutions"></select>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="serialnumber" class="col-sm-2 control-label">Номер/серия диплома</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="text" name="startDate" ng-model="newEducationForm.serialnumber"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="speciality" class="col-sm-2 control-label">Специальность</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="text" name="speciality" ng-model="newEducationForm.speciality"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="qualification" class="col-sm-2 control-label">Квалификация по диплому</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="text" name="qualification" ng-model="newEducationForm.qualification"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="startDate" class="col-sm-2 control-label">Дата поступления</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="date" name="startDate" ng-model="newEducationForm.start_date"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="endDate" class="col-sm-2 control-label">Дата окончания</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="date" name="endDate" ng-model="newEducationForm.end_date"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right" value=' @Messages("Сохранить")
        '></p>
        </form>
    </div>
    </div>
