<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label><h4>Список учебных заведений</h4></label>
                <div class="pull-right">
                    <button type="button" ng-click="resetEducation()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-condensed">
                <tr>
                    <td><strong>Учебное заведение</strong></td>
                    <td><strong>Номер/серия диплома</strong></td>
                    <td><strong>Специальность</strong></td>
                    <td><strong>Вид образования</strong></td>
                    <td><strong>Дата окончания</strong></td>
                </tr>
                <tr ng-repeat="education in educations">
                    <td><span data-toggle="tooltip" data-placement="left" title=" {{ (institutions | filter: {id: education.institution_id })[0].longname }} ">{{ (institutions | filter: {id: education.institution_id })[0].shortname }}</span></td>
                    <td>{{ education.serialnumber }}</td>
                    <td>{{ education.speciality }}</td>
                    <td>{{ (qualifications | filter: {id: education.qualification_id })[0].name }}</td>
                    <td>{{ education.end_date |  date: 'yyyy' }}</td>
                    <td>
                        <a class="btn btn-xs btn-primary" ng-click="selectEducation(education)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-xs btn-danger" ng-click="deleteEducation(education)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" collapse="isCollapsed">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            @Messages("Создать новый учебу")
            </div>
            <div class="panel-body">
                <form ng-submit="selectAction()" class="form-horizontal" name="educationFormElement" novalidate>
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="institution" class="control-label">Учебное заведение:</label>
                                <div class="input-group">
                                    <select required class="form-control" name="institution" ng-model="educationForm.institution_id"
                                    ng-options="institution.id as institution.longname for institution in institutions">
                                        <option value="">Выберите ...</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-add" ng-click="institutionModalOpen()" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="serialnumber" class="control-label">Номер/серия диплома:</label>
                                <input required class="form-control" type="text" name="startDate" ng-model="educationForm.serialnumber"/>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="speciality" class="control-label">Специальность:</label>
                                <input required class="form-control" type="text" name="speciality" ng-model="educationForm.speciality"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="qualification_id" class="control-label">Вид образования:</label>
                                <div class="input-group">
                                    <select required class="form-control" name="qualification_id" ng-model="educationForm.qualification_id"
                                    ng-options="qualification.id as qualification.name for qualification in qualifications">
                                        <option value="">Выберите ...</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-add" ng-click="qualificationModalOpen()" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="endDate" class="control-label">Дата окончания:</label>
                                <input required class="form-control" type="date" name="endDate" ng-model="educationForm.end_date"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <a ng-disabled="!educationFormElement.$valid" class="btn btn-primary" ng-click="selectAction()"><span class="glyphicon glyphicon-save"></span>
                    Сохранить</a>
                    <input type="button" class="btn btn-default" value='@Messages("Отменить")' ng-click="isCollapsed=true">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="institutionModalContent.html">
<div class="modal-header">
<h4 class="modal-title"> Новое учебное заведение </h4>
</div>
<form ng-submit="saveInstitution()" class="form-horizontal">
<div class="modal-body">
<div class="form-group form-group-sm">
<div class="col-sm-12 col-md-12 col-lg-12">
<label for="name" class="control-label">Короткое название:</label>
<input required class="form-control" type="text" ng-model="institutionForm.shortname"/>
</div>
</div>
<div class="form-group form-group-sm">
<div class="col-sm-12 col-md-12 col-lg-12">
<label for="name" class="control-label">Полное название:</label>
<input required class="form-control" type="text" ng-model="institutionForm.longname"/>
</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="saveInstitution()">Создать</button>
<button class="btn btn-default" ng-click="cancel()">Отменить</button>
</div>
</form>
</script>


<script type="text/ng-template" id="qualificationModalContent.html">
<div class="modal-header">
<h4 class="modal-title"> Новая квалификация по диплому </h4>
</div>
<form ng-submit="saveQualification()" class="form-horizontal">
<fieldset>
<div class="modal-body">
<div class="form-group form-group-sm">
<div class="col-sm-12 col-md-12 col-lg-12">
<label for="name" class="control-label">Название:</label>
<input required class="form-control" type="text" ng-model="qualificationForm.name"/>
</div>
</div>
</div>
<div class="modal-footer">
<button class="btn btn-primary" ng-click="saveQualification()">Создать</button>
<button class="btn btn-default" ng-click="cancel()">Отменить</button>
</div>
</fieldset>
</form>
</script>