<div class="panel panel-default">
    <div class="panel-heading">
            Паспортные данные
    </div>
    <div class="panel-body">
        <form ng-submit="selectAction()" class="form-horizontal" name="passportFormElement" novalidate>
            <fieldset ng-disabled="editMode">
                <div class="form-group form-group-sm">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="serial" class="control-label">Серия:</label>
                        <input required class="form-control" type="text" name="serial" ng-model="passportForm.serial" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="number" class="control-label">Номер:</label>
                        <input required class="form-control" type="text" name="number" ng-model="passportForm.number" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="organ" class="control-label">Орган выдавший документ:</label>
                        <input required class="form-control" type="text" name="organ" ng-model="passportForm.organ" />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="reg_address" class="control-label">Адрес регистрации:</label>
                        <textarea required class="form-control" type="text" name="reg_address" ng-model="passportForm.reg_address">
                        </textarea>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="open_date" class="control-label">Дата выдачи:</label>
                        <input required class="form-control" type="date" name="open_date" ng-model="passportForm.open_date" class="input-sm form-control" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="end_date" class="control-label">Дата окончания:</label>
                        <input required class="form-control" type="date" name="end_date" ng-model="passportForm.end_date" class="input-sm form-control"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="editMode=false" ng-show="editMode"><span class="glyphicon glyphicon-edit"></span>
                Редактировать</button>
            <button ng-disabled="!passportFormElement.$valid" class="btn btn-primary" ng-click="savePassport()" ng-show="!editMode"><span class="glyphicon glyphicon-save"></span>
            Сохранить</button>
            <button class="btn btn-default" ng-click="editMode=true" ng-show="!editMode">Отменить</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
