<div class="panel panel-default">
    <div class="panel-heading">
            Паспортные данные
    </div>
    <div class="panel-body">
        <form ng-submit="selectAction()" class="form-horizontal" name="passportFormElement">
            <fieldset ng-disabled="editMode">
                <div class="form-group form-group-sm">
                    <label for="serial" class="col-sm-5 col-md-3 control-label">Серия</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="text" name="serial" ng-model="passportForm.serial" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="number" class="col-sm-5 col-md-3 control-label">Номер</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="text" name="number" ng-model="passportForm.number" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="organ" class="col-sm-5 col-md-3 control-label">Орган выдавший документ</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="text" name="organ" ng-model="passportForm.organ" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="open_date" class="col-sm-5 col-md-3  control-label">Дата выдачи</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="date" name="open_date" ng-model="passportForm.open_date" class="input-sm form-control" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="end_date" class="col-sm-5 col-md-3  control-label">Дата окончания</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="date" name="end_date" ng-model="passportForm.end_date" class="input-sm form-control"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="editMode=false" ng-show="editMode"><span class="glyphicon glyphicon-edit"></span>
                Редактировать</button>
            <button class="btn btn-info" ng-click="savePassport()" ng-show="!editMode"><span class="glyphicon glyphicon-save"></span>
                Сохранить</button>
            <button class="btn btn-default" ng-click="editMode=true" ng-show="!editMode">Отменить</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
