@(order: Order)(implicit request: RequestHeader)

@import java.text.SimpleDateFormat
@import java.util.{Locale, Calendar}

<html ng-app="app">
    <head>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css")).absoluteURL()'>
        <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css").absoluteURL()'>
    </head>
    <body>
        <div class="row">
            <div class="col-xs-6">
                <img src="@routes.Assets.at("images/logo.png").absoluteURL()" />
            </div>
            <div class="col-xs-6">
                @*<img src="@routes.Assets.at("images/title.png").absoluteURL()" />*@
                <p style="font-size : 14 px">"ДОС-КРЕДОБАНК" АЧЫК АКЦИОНЕРДИК КООМУ</p>
                <p style="font-size : 14 px">ОТКРЫТОЕ АКЦИОНЕРНОЕ ОБЩЕСТВО "ДОС-КРЕДОБАНК"</p>
            </div>
        </div>
        <hr style="border : 1 px solid #000000">
        <div class="row">
            <div class="col-xs-12" style="text-align : center ;">
                <p><strong style="font-size : 24 px ;">ПРИКАЗ</strong></p>
                <p style="font-size : 18 px"><strong>по личному составу</strong></p>
                <p style="font-size : 18 px">
                    <strong>
                        от @(new SimpleDateFormat("dd MMMM yyyy").format(order.date_of_order).toString)
                        года № @order.nomer
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="font-size : 18 px ;">
            <br/>
                <br/>
                @Html(order.content)
                <table class="table table-bordered">
                    <tr>
                        <th>
                            asdfasdfasdf
                        </th>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                    </tr>
                    <tr>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                    </tr>
                    <tr>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                    </tr>
                    <tr>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                        <td>
                            asdfasdfasdf
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
