<table st-table="items" class="table table-condensed">
    <thead>
        <tr>
            <td><strong>№<br>приказа</strong></td>
            <td><strong>Тип<br>приказа</strong></td>
            <td><strong>Дата<br>приказа</strong></td>
            <td><strong>Сотрудник</strong></td>
            <td><strong>Должность</strong></td>
            <td><a ui-sref='panel.orders.dismissalOrders.create' class="pull-right btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span>
                Добавить</a>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{ item.order.id }}</td>
            <td>Увольнение</td>
            <td>{{ item.order.date_of_order |  date: 'dd.MM.yyyy' }}</td>
            <td>{{ item.employee.surname }} {{ item.employee.firstname }} {{ item.employee.lastname }}</td>
            <td>{{ item.position.name }}</td>
            <td>
                <div class="pull-right">
                    <a ui-sref='panel.orders.dismissalOrders.edit({dismissalOrderId: item.order.id})' class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="/orders/generate?id={{order.id}}" target="_blank" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-download-alt"></span></a>
                </div>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <br>
        <tr>
            <td colspan="11" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="10"></div>
            </td>
        </tr>
    </tfoot>
</table>
