<div class="panel panel-default">
    <div class="panel-heading">
            Контактные данные
    </div>
    <div class="panel-body">
        <form ng-submit="selectAction()" class="form-horizontal">
            <fieldset ng-disabled="editMode">
                <div class="form-group form-group-sm">
                    <label for="home_address" class="col-sm-5 col-md-3 control-label">Адрес регистрации</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" name="home_address" ng-model="contactInformationForm.home_address">

                        </textarea>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="reg_address" class="col-sm-5 col-md-3 control-label">Адрес прописки</label>
                    <div class="col-sm-7">
                        <textarea class="form-control" name="reg_address" ng-model="contactInformationForm.reg_address">

                        </textarea>
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="email" class="col-sm-5 col-md-3 control-label">Электронная почта</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="email" name="email" ng-model="contactInformationForm.email" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="home_phone" class="col-sm-5 col-md-3 control-label">Домашний телефон</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="phone" name="home_phone" ng-model="contactInformationForm.home_phone" />
                    </div>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group form-group-sm">
                    <label for="mobile_phone" class="col-sm-5 col-md-3 control-label">Мобильный телефон</label>
                    <div class="col-sm-7">
                        <input required class="form-control" type="text" name="mobile_phone" ng-model="contactInformationForm.mobile_phone" />
                    </div>
                    <span class="help-inline"></span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="editMode=false" ng-show="editMode"><span class="glyphicon glyphicon-edit"></span>
                Редактировать</button>
            <button class="btn btn-info" ng-click="saveContactInformation()" ng-show="!editMode"><span class="glyphicon glyphicon-save"></span>
                Сохранить</button>
            <button class="btn btn-default" ng-click="editMode=true" ng-show="!editMode">Отменить</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
