<div class="panel panel-default">
    <div class="panel-heading">
            Контактные данные
    </div>
    <div class="panel-body">
        <form ng-submit="selectAction()" novalidate name="contactForm">
            <fieldset ng-disabled="editMode">
                <div class="form-group form-group-sm">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="email" class="control-label">Электронная почта:</label>
                        <input class="form-control" type="email" name="email" ng-model="contactInformationForm.email" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="home_phone" class="control-label">Домашний телефон:</label>
                        <input class="form-control" type="phone" name="home_phone" ng-model="contactInformationForm.home_phone" />
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <label for="mobile_phone" class="control-label">Мобильный телефон:</label>
                        <input class="form-control" type="text" name="mobile_phone" ng-model="contactInformationForm.mobile_phone" required />
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label for="home_address" class="control-label">Место рождения:</label>
                        <textarea class="form-control" name="home_address" ng-model="contactInformationForm.home_address">
                        </textarea>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label for="living_address" class="control-label">Адрес фактического проживания:</label>
                        <textarea class="form-control" name="living_address" ng-model="contactInformationForm.living_address" required>
                        </textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="panel-footer">
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="editMode=false" ng-show="editMode"><span class="glyphicon glyphicon-edit"></span>
                Редактировать</button>
            <button ng-disabled="!contactForm.$valid" class="btn btn-primary" ng-click="saveContactInformation()" ng-show="!editMode"><span class="glyphicon glyphicon-save"></span>
            Сохранить</button>
            <button class="btn btn-default" ng-click="editMode=true" ng-show="!editMode">Отменить</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
