<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref='panel.positions.create' class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                Должности
            </div>
            <table class="table table-bordered table-condensed" ng-table="positionTableParams">
                <tr ng-repeat="position in positions">
                    <td data-title="'ID'">{{ position.id}}</td>
                    <td data-title="'Name'">{{ position.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
