<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label><h4>Список состава семьи</h4></label>
                <div class="pull-right">
                    <button type="button" ng-click="resetRelationship()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span> Добавить
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-condensed table-striped">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Степень родства</th>
                    <th></th>
                </tr>
                <tr ng-repeat="relationship in relationships">
                    <td>{{ relationship.surname }}</td>
                    <td>{{ relationship.firstname }}</td>
                    <td>{{ relationship.lastname }}</td>
                    <td>{{ relationship.birthday  | date: 'dd.MM.yyyy'  }}</td>
                    <td>{{ (types | filter: relationship.degree)[0].name }}</td>
                    <td>
                        <a class="btn btn-xs btn-primary" ng-click="selectRelationship(relationship)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-xs btn-danger" ng-click="deleteRelationship(relationship)"><span class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row" collapse="isCollapsed">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            @Messages("Новый член семьи")
            </div>
            <div class="panel-body">
                <form ng-submit="selectAction()" name="relationshipFormElement" class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="surname" class="control-label">Фамилия:</label>
                                <input required class="form-control" type="text" name="surname" ng-model="relationshipForm.surname"/>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="firstname" class="control-label">Имя:</label>
                                <input required class="form-control" type="text" name="firstname" ng-model="relationshipForm.firstname"/>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="lastname" class="control-label">Отчество:</label>
                                <input required class="form-control" type="text" name="lastname" ng-model="relationshipForm.lastname"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="degree" class="control-label">Степень родства:</label>
                                <div class="input-group">
                                    <select required class="form-control" name="degree" ng-model="relationshipForm.degree"
                                    ng-options="type.id as type.name for type in types"
                                    >
                                        <option value="">Выберите ...</option>
                                    </select>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-add" ng-click="open()" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                <label for="birthday" class="control-label">Дата рождения:</label>
                                <input required class="form-control" type="date" name="birthday" ng-model="relationshipForm.birthday" class="input-sm form-control"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <a ng-disabled="!relationshipFormElement.$valid" class="btn btn-primary" ng-click="selectAction()"><span class="glyphicon glyphicon-save"></span>
                        Сохранить</a>
                    <input name="resetForm" type="button" class="btn btn-default" value='@Messages("Отменить")' ng-click="isCollapsed=true">
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div>
    <script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
    <h4 class="modal-title"> @Messages("Новая степень родства") </h4>
    </div>
    <div class="modal-body">
    <form ng-submit="saveRelationshipType()" class="form-horizontal">
    <div class="form-group form-group-sm">
    <label for="name" class="col-sm-2 control-label">Название</label>
    <div class="col-sm-10">
    <input required class="form-control" type="text" name="name" ng-model="newRelationshipTypeForm.name"/>
    </div>
    <span class="help-inline"></span>
    </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" ng-click="saveRelationshipType()">Создать</button>
    <button class="btn btn-warning" ng-click="cancel()">Отменить</button>
    </div>
    </script>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
</div>
