
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ui-sref="offices.create" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                    Список состава семьи
                </div>
                <table class="table table-bordered table-condensed" ng-table="officesTableParams">
                    <tr ng-repeat="office in offices">
                        <td data-title="'Parent office'">{{ office.parent_id }}</td>
                        <td data-title="'Type'">{{ office.type_id }}</td>
                        <td data-title="'Name'">{{ office.name }}</td>
                        <td data-title="'Email'">{{ office.email }}</td>
                        <td data-title="'Phone'">{{ office.phone }}</td>
                        <td data-title="'Fax'">{{ office.fax }}</td>
                        <td data-title="'Address'">{{ office.address }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>