
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a ui-sref="office_types.create" class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                    Виды офисов
                </div>
                <table class="table table-bordered table-condensed" ng-table="officeTableParams">
                    <tr ng-repeat="office_type in office_types">
                        <td data-title="'ID'">{{ office_type.id}}</td>
                        <td data-title="'Name'">{{ office_type.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
