@(familyForm: Form[Family], employeeId: Long)(implicit lang: Lang, request: RequestHeader)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(Messages("employee.form")) {
    <div class="panel panel-default">
            <!-- Default panel contents -->
        <div class="panel-heading">
            @Messages("Новый сотрудник")
            <div class="pull-right">
                <a href="@routes.Families.index()"><span class="glyphicon glyphicon-list"></span></a>
            </div>
        </div>
        <div class="panel-body">
        @helper.form(action = routes.Families.save(employeeId)) {
            <fieldset>
                <div class="row">
                    <input type="hidden" value="@employeeId" name="employee_id" id="employee_id" />
                    <div class="col-sm-4">@inputText(familyForm("surname"), 'class->"form-control  input-sm")</div>
                    <div class="col-sm-4">@inputText(familyForm("firstname"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(familyForm("lastname"), 'class->"form-control input-sm")</div>
                </div>
                <div class="row">
                    <div class="col-sm-4">@helper.inputText(familyForm("relationship"), 'class->"form-control input-sm")</div>
                    <div class="col-sm-4">@helper.inputText(familyForm("birthday"), 'class->"form-control input-sm", 'type->"date")</div>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right"
            value='@Messages("Сохранить")'></p>
        }
        </div>
    </div>
}