@(families: Iterable[Family])(implicit request: RequestHeader)

@main("Состав семьи") {
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Список состава семьи</strong>
        </div>
        <table class="table table-bordered table-condensed">
        @for(family <- families){
            <tr>
                <td>@family.id</td>
                <td>@family.surname</td>
                <td>@family.firstname</td>
                <td>@family.lastname</td>
                <td>
                    @*<a href="@routes.Products.edit(product.id)"><span class="glyphicon glyphicon-edit"></span></a>*@
                    <a href="@routes.Families.show(family.id)"><span class="glyphicon glyphicon-eye-open"></span></a>
                </td>
            </tr>
        }
        </table>
    </div>
}