<div class="panel panel-default">
    <div class="panel-heading">
        @Messages("Добавить новый вид договора")
    <div class="pull-right">
        <a ui-sref='panel.contract_types.list'><span class="glyphicon glyphicon-list"></span></a>
    </div>
    </div>
    <div class="panel-body">
        <form ng-submit="saveContractType()" class="form-horizontal">
            <fieldset>
                <div class="form-group form-group-sm">
                    <label for="name" class="col-sm-2 control-label">Название</label>
                    <div class="col-sm-10">
                        <input required class="form-control" type="text" name="name" ng-model="newContractTypeForm.name"/>
                    </div>
                    <span class="help-inline"></span>
                </div>
            </fieldset>
            <p><input type="submit" class="btn btn-primary pull-right" value='@Messages("Сохранить")'></p>
        </form>
    </div>
</div>
