@(title: String)(implicit request: RequestHeader)
<!DOCTYPE html>

<html ng-app="app">
    <head>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("ng-table.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.core.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.buttons.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.history.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("tree-control.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("tree-control-attribute.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("xeditable.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("stylesheets/treeGrid.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("javascripts/libs/ng-tags-input/ng-tags-input.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("javascripts/libs/ng-tags-input/ng-tags-input.bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("javascripts/libs/ds82-ng-contextmenu/contextmenu.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("stylesheets/main.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("stylesheets/anim-in-out.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("stylesheets/custom_bootstrap.css"))'>
        <link rel='stylesheet' href='@routes.Assets.at(("stylesheets/smart-table.css"))'>
        @*<link rel='stylesheet' href='@routes.Assets.at(("javascripts/libs/ui-grid/ui-grid.css"))'>*@
    </head>
    <body>
        <section>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer">
            <div class="container">
                <p class="text-muted">Статус соединения к серверу: <span id="server-status"></span></p>
            </div>
        </footer>

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.core.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.desktop.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.history.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.tooltip.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.buttons.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload-shim.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-file-upload.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ui-router.min.js"))'></script>
        @*<script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-tree-control.js"))'></script>*@
        <script type="text/javascript" src='@routes.Assets.at("javascripts/libs/angular-tree-control/angular-tree-control.js")'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("ng-table.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-ckeditor.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("smart-table.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("calendar.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("xeditable.min.js"))'></script>
        @*<script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jspdf.min.js"))'></script>*@
        <script type='text/javascript' src='@routes.Assets.at("javascripts/anim-in-out.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/reconnecting-websocket.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/tree-grid-directive.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/app.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/OfficeService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/EmployeeService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/FunctionsService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/ContractService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/DepartmentService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/RelationshipService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/PositionService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/InstitutionService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/PassportService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/MilitaryService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/StructureService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/OrderService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/CalendarService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/ContactInformationService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/services/WorkSheetsService.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/EmployeeController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/RelationshipController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/EducationController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/PassportController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/MilitaryController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/StructureCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/ModalRelationshipTypeController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/ModalStructuresCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/LoginCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/ContactCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/CalendarCtrl.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/controllers/OrderController.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/filters/filters.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/directives/ngModelOnblur.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/ng-tags-input/ng-tags-input.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/textAngular-1.2.2/textAngular-sanitize.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/textAngular-1.2.2/textAngular.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/ckeditor-4.4.5/ckeditor.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/ds82-ng-contextmenu/contextmenu.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/libs/ui-router-tabs/ui-router-tabs.js")'></script>
        @*<script type='text/javascript' src='@routes.Assets.at("javascripts/libs/ui-grid/ui-grid.js")'></script>*@

        <script type="text/javascript">
        $ ( function ( ) {
            @*var ws = new WebSocket ( " @routes.Application.serverStatus.webSocketURL() ");*@
            @*var ws = new ReconnectingWebSocket ( "ws://192.168.0.128:9001/connection/status" ) ;*@
        var ws = new ReconnectingWebSocket ( "              @routes.Application.serverStatus.webSocketURL() " );
        ws.onmessage = function ( msg ) {
        $ ( '#server-status' ).text ( msg.data ) ;
        $ ( '#server-status' ).addClass ( 'label label-success' ).removeClass ( 'label-warning' ) ;
        }
        ws.onclose = function ( msg ) {
        $ ( '#server-status' ).text ( 'closed' ) ;
        $ ( '#server-status' ).addClass ( 'label-warning' ).removeClass ( 'label-success' ) ;
        }
        } )
        </script>

    </body>
</html>
