@(title: String, section: String)(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.core.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("pnotify.desktop.js"))'></script>
    </head>
    <body>
        <div class="container">
            <div class="header row">
                @menuItems = @{Seq(
                    ("employees", "Сотрудники", routes.Employees.list()),
                    ("families", "Семьи", routes.Relationships.list())
                )}

                <ul class="nav nav-tabs">
                @menuItems.map {
                    case (key, title, _) if key == section => {
                        <li class="active">
                            <a href="#">@title</a>
                        </li>
                    }
                    case (key, title, url) => {
                        <li><a href="@url">@title</a></li>
                    }
                }
                </ul>
            </div>
        </div>
        <br />
        @*<hr />*@
        <div class="container">
            <div class="row">
                @content
            </div>

            <footer>
                <div class="row">
                    <div class="col-sm-12">
                        <h6>Статус соединения к серверу: <span id="server-status"></span></h6>
                    </div>
                </div>
            </footer>

        </div>

        <script type="text/javascript">
            $(function() {
                var ws = new WebSocket("@routes.Application.serverStatus.webSocketURL()")
                ws.onmessage = function(msg) {
                    $('#server-status').text(msg.data);
                    $('#server-status').addClass('label label-success');
                }
                ws.onclose = function(msg) {
                    $('#server-status').text ( 'closed' ) ;
                    $('#server-status').addClass ( 'label-warning' ).removeClass('label-success') ;
                }

                new PNotify({
                    title: "PNotify",
                    text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
                    stack: stack_bottomright
                });
            });
        </script>

    </body>
</html>
