@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    </head>
    <body>
        <div class="container">
            <div class="header row">
                <ul class="nav nav-pills pull-left">
                    <li class="active"><a href="#">Главная</a></li>
                    <li><a href="@routes.Employees.index()">Сотрудники</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="container">
            <div class="row">
            @content
            </div>
        </div>
    </body>
</html>
