<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a ui-sref='panel.position_categories.create' class="pull-right"><span class="glyphicon glyphicon-plus"></span></a>
                Категории должностей
            </div>
            <table class="table table-bordered table-condensed" ng-table="positionTableParams">
                <tr ng-repeat="position_category in position_categories">
                    <td data-title="'ID'">{{ position_category.id}}</td>
                    <td data-title="'Name'">{{ position_category.name}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
